* {
	box-sizing: border-box;
}

:root {
	--bg-nav: #eeeaea;
	--bg-nav-head: #f3c9c9;
	--color-link: #9e5d5d;
	--color-link-hover: #c94040;
	--color-nav-border: black;
	--color-nav-li-border: gray;
}

body {
	margin: 0;
	line-height: 1.4;
}

h1,
h2,
h3,
p {
	margin: 0;
}

/* typography */

nav a {
	font-size: 1.25rem;
}

/* layout */

.container {
	display: flex;
	flex-direction: column;
}

/* nav */

nav {
	background-color: var(--bg-nav);
}

nav header {
	text-align: center;
	padding: 1em;
	background-color: var(--bg-nav-head);
}

nav ul {
	list-style: none;
	overflow-y: auto;
	height: 16em;

	margin: 0;
	padding: 0;
	border-block: 1px solid var(--color-nav-border);
}

nav ul li {
	display: block;
	width: 100%;
	padding: 1.3em;
	padding-inline: 4em;
	border-bottom: 0.5px solid var(--color-nav-li-border);
}

nav ul li:last-child {
	border: none;
}

nav a {
	color: var(--color-link);
	text-decoration: none;
}

nav a:hover,
nav a:focus {
	color: var(--color-link-hover);
}

/* main */

main {
	background-color: var(--bg-nav-head);
}

main > * {
	width: 85%;
	margin: 0 auto;
}

main header {
	margin-block: 0.7em;
}

main header:first-child {
	margin-top: 1.5em;
}

/* media */

@media (min-width: 700px) {
	.container {
		flex-direction: row;
	}
}
