* {
	box-sizing: border-box;
}

:root {
	--bg-nav: #f5f5f5;
	--bg-nav-head: #f5f5f5;
	--bg-main: #fff;
	--bg-pre-code: #e9e9e9;
	--bg-code: #e58f8f;
	--bg-footer: #cfcfcf;
	--color-link: #50a3c7;
	--bg-link-hover: #26abe3;
	--color-nav-border: black;
	--color-nav-li-border: gray;
}

html {
	scroll-behavior: smooth;
	scroll-margin-top: 1em;
}

main section:target {
	border: 2px solid var(--color-link);
}

body {
	font-family: "Nunito", sans-serif;
	margin: 0;
	line-height: 1.4;
	font-size: 1rem;
}

h1,
h2,
h3,
p {
	margin: 0;
}

/* typography */

h1,
h2 {
	font-family: "Roboto Mono", monospace;
}

h1 {
	font-size: clamp(1.5rem, 1.5rem + 1vw, 1.9rem);
}

h2 {
	font-size: clamp(1rem, 1rem + 0.3vw, 1.2rem);
}

main h2 {
	font-size: clamp(1.25rem, 1.25rem + 0.3vw, 1.5rem);
}

p,
li {
	font-size: clamp(1rem, 1rem + 0.3vw, 1.2rem);
}

nav a {
	font-size: 1.25rem;
}

/* layout */

.container {
	display: flex;
	flex-direction: column;
}

/* nav */

nav {
	background-color: var(--bg-nav);
}

nav header {
	text-align: center;
	padding: 1em;
	background-color: var(--bg-nav-head);
}

nav ul {
	list-style: none;
	overflow-y: auto;
	height: 17em;

	margin: 0;
	padding: 0;
	border-block: 1px solid var(--color-nav-border);
}

nav ul li {
	display: block;
	width: 100%;

	border-bottom: 0.5px solid var(--color-nav-li-border);
}

nav ul li:last-child {
	border: none;
}

nav a {
	display: block;
	width: 100%;
	padding: 1em;
	padding-inline: 3em;
	color: var(--color-link);
	text-decoration: none;
}

nav a:hover,
nav a:focus {
	background-color: var(--bg-link-hover);
	color: white;
}

/* main */

main {
	background-color: var(--bg-main);
}

main > * {
	width: 85%;
	margin: 0 auto;
}

main header {
	margin-block: 0.7em;
}

main header:first-child {
	margin-top: 1.5em;
}

main p {
	margin-block: 1em;
}

main li {
	margin-bottom: 0.5em;
}

pre code {
	background-color: var(--bg-pre-code) !important;
}

code {
	background-color: var(--bg-code) !important;
}

/* footer */

footer {
	background-color: var(--bg-footer);
	text-align: center;
	padding: 1em;
}

.footer a {
	border-bottom: 1px solid #453886;
	color: #453886;
	padding-bottom: 0.25em;
	text-decoration: none;
}

.footer a:hover {
	color: #2196f3;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 20%;
	border-bottom: 0;
	padding-bottom: 0.3em;
	text-decoration: none;
}

/* media for desktop */

@media (min-width: 700px) {
	.container {
		flex-direction: row;
	}

	nav {
		position: fixed;
		top: 0;
		left: 0;

		width: clamp(17em, 17em + 0.7vh, 20em);
		height: 100%;
		padding-top: 1em;
		border-right: 2px solid var(--color-nav-border);
	}

	nav ul {
		height: initial;
		overflow-y: initial;
	}

	nav ul li a {
		padding-block: 0.4em;
		padding-inline: 0.5em;
		padding-left: 1.5em;
	}

	main {
		margin-left: 16em;
	}
}

/* media for desktop but smaller height */

@media (max-height: 700px) {
	nav ul {
		height: 300px;
		overflow-y: scroll;
	}
}
