* {
	box-sizing: border-box;
}

:root {
	--color-white: #fff;
}

body {
	margin: 0;
}

h1,
h2,
h3,
p {
	margin: 0;
}

/* typography */

/* layout */

.container {
	display: flex;
	flex-direction: column;
}

/* media */

@media (min-width: 700px) {
	.container {
		flex-direction: row;
	}
}
