/* 
font-family: 'Bangers', cursive;
font-family: 'Mali', cursive;
*/
:root {
    --invincible-color: #f9e855;
    --bg-header: #189ef7;
    --bg-main: #4D5456;
    --bg-talent: #11343a;
    --bg-footer: #181621;
    --bg-made-by: #a6b0b3;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Mali', cursive, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.3;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
ul {
    margin: 0;
}

/* typography */

h1 {
    font-family: 'Bangers', cursive;
    font-size: 4rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1.125rem;
}

/* layout */

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1100px;
}

/* header */

header {
    background: var(--bg-header);
}

.hover-title {
    /* allows to use only child hover state */
    pointer-events: none;

    background: url(../image/regular-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
    padding: 2em 2em;
    transition: background 300ms ease-in-out;
}

.hover-title:hover,
.hover-title:focus,
.hover-title:active {
    background: url(../image/blood-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hover-title-child {
    pointer-events: auto;

    width: 100%;
    height: 150px;
    margin: 0 auto;
}

.hide-title {
    display: none;
}

/* main */


.bg-main {
    background-color: var(--bg-main);
    background-image: url(../image/main-background.jpg);
    background-blend-mode: multiply;
    background-size: cover;

    color: #fff;
}

/*- Main Section -*/

/*- Image -*/

.image-div {
    width: 80%;
    margin: 0 auto;
    padding: 1em 0;
}

figcaption {
    color: #868578;
    text-align: center;
    opacity: .7;
    margin-top: .5em;
}

/*- Article -*/

.section-main {
    padding: 2em 0;
    display: flex;
    flex-direction: column;
}

.section-main strong,
.section-main b {
    color: var(--bg-header);
    font-weight: 700;
}

.section-main article  {
    width: 80%;
    margin: 0 auto;
}

.section-main article p:last-child {
    margin: 0;
}

.tribute-info-title  {
    text-align: center;
    font-size: 1.5rem;
}

/*- Section Talent -*/

.bg-talent {
    background-color: var(--bg-talent);
    background-image: url(../image/superpowers.jpg);
    background-position: center;
    background-blend-mode: multiply;
    background-size: 80%;

    padding: 2em;
}

.section-talent {
    color: #fff;
}

.talent-heading {
    text-align: center;
}

.section-talent ul {
    display: flex;
    justify-content: space-between;
    list-style: circle;
}

.section-talent li:first-child {
    color: var(--invincible-color);
}

.section-talent li:last-child {
    color: #189ef7;
}

/* Footer */

footer {
    background-color: var(--bg-footer);
    padding: 2em;
    text-align: center;
}

footer a {
    display: inline-block;
    background-color: #4D5456;
    background: rgb(255,230,0);
    background: linear-gradient(143deg, rgba(255,230,0,1) 13%, rgba(77,84,86,1) 66%);
    padding: 1em 1em;
    text-decoration: none;
    color: #fff;
    transform: scale(1);
    border: 1px solid white;
    transition: all .3s ease-in-out;
}

footer a:hover,
footer a:focus {
    transform: scale(1.1);
    color: #000;
    border: 1px solid wheat;
}

footer div {
    margin: 2em;
}

/* made by */

.made-by {
    text-align: center;
    background-color: var(--bg-made-by);
    margin: 0;
    padding: 2em;
}

.made-by p {
    margin: 0;
}

.made-by a:hover,
.made-by a:focus {
    color: #189ef7;
}

/* media */

@media (min-width: 780px) {

    .hover-title {
        background-position: 50% 40%;
        background-size: 70%;
    }

    .hover-title:hover,
    .hover-title:focus,
    .hover-title:active {
        background-position: 50% 40%;
        background-size: 70%;
    }

    .hover-title-child {
        width: 60%;
    }

    /* Main section */

    .section-main {
        flex-direction: row;
        justify-content: space-between;
        padding: 4em;
    }

    .section-main figure {
        width: 40%;
        align-self: center;
        margin: 3em 3em;
    }

    .section-main article {
        width: 50%;
        margin: 0 3em;
    }

    /* talent section */

    .section-talent ul {
        justify-content: space-around;
    }
}

@media (max-width: 1000px) and (min-width: 780px) 
{
    .section-main {
        justify-content: space-between;
        padding: 2em;
        margin: 0 auto;
    }

    .section-main figure {
        width: 40%;
        align-self: center;
        margin: 0;
    }

    .section-main article {
        width: 40%;
        margin: 0;
    }

}
