:root {
	--color-outer: #f00808;
	--color-underline: #ca5757;
	--color-bg-form: #2f5c64;
	--color-bg-form-opacity: rgba(47, 92, 100, 0.9);
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Noto Sans JP", sans-serif;

	font-size: 1rem;
}

body::before {
	content: "";
	position: fixed;
	inset: 0;
	z-index: -1;

	background-image: url(../image/github.jpg);
	background-color: #4848e0;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
}

body,
h1,
p {
	margin: 0;
}

/* Typography */

h1 {
	font-size: 1.4em;
}

@media (min-width: 750px) {
	h1 {
		font-size: 3rem;
	}
}

input,
select,
textarea,
button {
	margin: 0;
	font-size: inherit;
	font-family: inherit;
}

/* Container */

.container {
	width: 80%;
	max-width: 1200px;
	margin: 1em auto 0 auto;
}

@media (min-width: 750px) {
	.container {
		width: 60%;
	}
}

.container-flex {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.form-container {
	width: 100%;
	padding: 0.15em;
	margin: 1em auto;
	border: 2px solid var(--color-outer);
	border-radius: 1em;
}

/* head */

.form-head {
	text-align: center;
	color: #fff;
}

/* form */

form {
	width: 100%;
	padding: 2.2em;
	color: #fff;
	background-color: var(--color-bg-form-opacity);
	border-radius: 1em;
}

form > div {
	margin: 1em 0;
	padding: 0.2em;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
	width: 100%;
	margin-top: 0.2em;
	padding: 0.5em;
	background-color: #fff;
	border-radius: 0.5em;
}

label {
	display: block;
}

input:focus,
input:hover,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
	border: 2px solid var(--color-outer);
}

.underline {
	margin-bottom: 0.7em;
	border-bottom: 2px solid var(--color-underline);
}

.recommend label:nth-child(6) {
	margin-left: 0.5em;
}

.recommend label:nth-child(2),
.recommend label:nth-child(4) {
	margin: 0 0.25em;
	padding: 0 0.5em;
	border-right: 3px solid var(--color-outer);
}

.improve label {
	display: inline-block;
}

.improve div {
	display: block;
	margin: 0.3em 0;
}

textarea {
	height: 12.5vh;
	min-height: 10vh;
	max-height: 15vh;
	resize: vertical;
}

button {
	display: inline-block;
	padding: 1em 2em;
	width: 100%;
	border: none;
	cursor: pointer;
	background-color: var(--color-underline);
	transform: scale(1);
	text-align: center;
	color: #fff;
	transition: all 250ms;
}

button:hover {
	transform: scale(1.05);
	color: var(--color-bg-form);
}
