* {
	box-sizing: border-box;
}

body {
	font-family: "Noto Sans JP", sans-serif;

	font-size: 1rem;
	background-color: pink;
}

body,
h1,
p {
	margin: 0;
}

/* Typography */

h1 {
	font-size: 1.4em;
}

/* Container */

.container {
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
}

.form-head {
	text-align: center;
}

/* form */

form {
	width: 90%;
	margin: 0 auto;
}

label {
	display: block;
}

input {
	border: none;
	border: 2px solid #4ca2b1;
}

input,
select,
textarea,
button {
	display: inline-block;
	font-size: inherit;
	font-family: inherit;
}

textarea {
	height: 12.5vh;
	min-height: 10vh;
	max-height: 15vh;
	resize: vertical;
}
