:root {
	--color-white: #fff;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/* nav */

nav {
	position: fixed;
	background-color: aqua;
	top: 0;
	left: 0;
	right: 0;
}

/* main */

main {
	margin-top: 3em;
}

/*-- Welcome Section --*/

section {
	background-color: aliceblue;
	height: 100vh;
	border: 5px solid black;
}

/* media */

@media (min-width: 680px) {
}
