:root {
	--bg-nav: hsla(275, 100%, 25%, 0.45);
	--color-link: hsl(240, 67%, 90%);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 3.5em;
}

body {
	font-size: 1rem;
	margin: 0;
	background-color: #ff3cac;
	background-image: linear-gradient(
		45deg,
		#b30f6b 0%,
		#481872 50%,
		#0b5081 100%
	);
}

img {
	display: block;
	max-width: 100%;
}

/* typography */

nav ul li a {
	font-size: 1.225em;
}

/* nav */

nav {
	position: fixed;
	background: var(--bg-nav);

	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
}

nav ul {
	list-style: none;
	display: flex;

	justify-content: center;
}

nav ul li {
	margin-inline: 1em;
}

nav a {
	text-decoration: none;
	color: var(--color-link);
}

nav a:hover {
	color: hsl(240, 67%, 70%);
}

/* main */

main {
	margin-top: 3.4em;
}

section {
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: white;

	border: 2px solid black;
}

/*-- Welcome Section --*/

.welcome {
	font-size: 2.2em;
	color: white;
	text-align: center;
	background-color: #481872;
	background-image: url(../image/bg-html.jpg);
	background-size: cover;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	opacity: 0.7;
}

.welcome div * {
	display: block;
}

.name::before,
.title::before {
	transform: scaleX(0);
	transform-origin: bottom right;
}

.name:hover::before,
.title:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.name::before,
.title::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	inset: 0;
	background: hsl(19, 89%, 45%);
	z-index: -1;
	transition: transform 0.3s ease;
}

.title::before {
	background: hsl(150, 100%, 30%);
}

.name,
.title {
	position: relative;
}

.down-arrow {
	width: 20%;
}

.down-arrow a {
	display: inline-block;
	transform: scale(1);
	transition: all 250ms;
}

.down-arrow a:hover {
	transform: scale(1.2);
}

/* about me section */

.about-me {
	font-size: 1.6em;
	text-align: center;
}

.about-me a {
	display: block;
	text-decoration: none;
	color: var(--color-link);
}

.about-me div {
	margin-block: 3em;
}
/* footer */

footer {
	text-align: center;
	padding: 2em;
}

/* media */

@media (min-width: 680px) {
}
