:root {
	--bg-nav: hsla(275, 100%, 25%, 0.45);
	--color-link: hsl(240, 67%, 90%);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 7em;
}

body {
	font-family: "Ubuntu", sans-serif;
	font-size: 1rem;
	margin: 0;
	background-color: #ff3cac;
	background-image: linear-gradient(
		45deg,
		#b30f6b 0%,
		#481872 50%,
		#0b5081 100%
	);
}

img {
	display: block;
	max-width: 100%;
}

h1,
h2,
p {
	margin: 0;
}

/* typography */

nav ul li a {
	font-size: clamp(1.225em, 1vw + 1em, 2em);
}

.welcome {
	font-size: clamp(2.2em, 1vw + 1.5em, 5em);
}

.projects h2 {
	font-size: clamp(1rem, 5vw + 1rem, 2rem);
}

.projects > h2 {
	font-size: clamp(2rem, 1vw + 1.5rem, 4rem);
}

/* nav */

nav {
	position: fixed;
	background: var(--bg-nav);

	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
}

nav ul {
	list-style: none;
	display: flex;

	justify-content: center;
}

nav ul li {
	margin-inline: 1em;
}

a {
	text-decoration: none;
	color: var(--color-link);
}

a:hover {
	color: hsl(240, 67%, 70%);
}

/* main */

main {
	margin-top: 3.4em;
}

section {
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

/*-- Welcome Section --*/

.welcome {
	color: white;
	text-align: center;
	background-color: #481872;
	background-image: url(../image/bg-html.jpg);
	background-size: cover;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	opacity: 0.7;
}

.welcome div * {
	display: block;
}

.welcome > * {
	margin-bottom: 1em;
}

.name::before,
.title::before {
	transform: scaleX(0);
	transform-origin: bottom right;
}

.name:hover::before,
.title:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.name::before,
.title::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	inset: 0;
	background: hsl(19, 89%, 45%);
	z-index: -1;
	transition: transform 0.3s ease;
}

.title::before {
	background: hsl(150, 100%, 30%);
}

.name,
.title {
	margin-top: 1em;
	position: relative;
	border-bottom: 1px solid white;
}

.down-arrow {
	width: 20%;
}

.down-arrow a {
	display: inline-block;
	transform: scale(1);
	transition: all 250ms;
}

.down-arrow a:hover {
	transform: scale(1.2);
}

/* projects section */

.projects {
	width: 80%;
	margin-block: 13em;
}

.projects > h2 {
	text-align: center;
	border-bottom: 2px solid white;
}

.project-tile {
	margin-block: 3em;
	text-align: center;
	padding-top: 1em;
	border-bottom: 5px solid #481872;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.project-tile img {
	margin-top: 1em;
	transform: scale(1);
	transition: transform 250ms ease-in-out;
}

.project-tile h2 {
	margin-bottom: 0.4em;
}

.project-tile img:hover {
	transform: scale(1.05);
}

.project-footer {
	background-color: #481872;
	padding: 0.3em;
	padding-top: 0.6em;
	display: flex;
	justify-content: center;
	gap: 1.4em;
}

.project-footer a {
	text-decoration: none;
	display: flex;
	gap: 0.5em;
	align-items: center;
}

/* footer */

footer {
	text-align: center;
	color: white;
	padding: 2em;
	background-color: #0b5081;
}

footer p {
	margin: 1em;
}

footer a {
	padding-top: 1em;
	margin: 1em;
	transition: all 300ms;
}

footer a:hover {
	background-color: #ff3cac;
}

footer:target {
	border: 2px solid blue;
}

/* media */

@media (min-width: 785px) {
	nav ul {
		justify-content: flex-end;
		margin-right: 5em;
	}

	.projects {
		margin: 0 auto;
	}

	.projects > div {
		display: flex;
		align-items: baseline;
		justify-content: space-around;
	}
	.project-tile {
		width: 40%;
	}

	.project-tile img {
		height: 300px;
	}
}
