:root {
	--color-red: #e50914;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;

	background-color: pink;
}

img {
	display: block;
	max-width: 100%;
}

input,
label,
button,
textarea,
a {
	font-size: inherit;
	font-weight: inherit;
}

/* typography */

/* container */

.container {
	width: 90%;
	margin: 0 auto;
}

.container-main {
	width: 75%;
}

.container-flex {
	display: flex;
	flex-direction: column;
}

@media (min-width: 680px) {
	.container-flex {
		flex-direction: row;
	}
}

/* header and nav */

header {
	background-color: #000;
	position: fixed;
	top: 0;
	width: 100%;
}

.logo {
	margin: 0 auto;
}

nav {
	padding: 1em;
}

nav ul {
	align-items: center;

	list-style: none;

	color: #fff;
	margin: 0 auto;
	padding: 0;
}

nav ul li {
	margin: 0.6em auto;
}

nav ul a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 1.7em;
	transform: scale(1);
	transition: transform 0.01s ease-in-out;
}

nav ul a:hover,
nav ul a:focus {
	transform: scale(1.15);
	color: var(--color-red);
}

/** MAIN **/

/* intro */

main {
	padding-top: 18em;
}

.intro {
	background-color: bisque;
	padding: 1em 0;
}

.intro form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro form label {
	display: block;
	margin-bottom: 1em;
}

.intro form input {
	margin-bottom: 0.3em;
	padding: 0.7em;
	width: 80%;
}

#submit {
	background: none;
	border: none;

	background-color: black;
	color: #fff;
	margin-top: 0.3em;
	padding: 1.2em 2em;
	cursor: pointer;
}

#submit:hover {
	background-color: var(--color-red);
}

/* Features */
