:root {
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;

	background-color: pink;
}

/* typography */

/* container */

.container {
	width: 90%;
	margin: 0 auto;
}

.container-main {
	width: 75%;
}

/* header and nav */

header {
}

nav {
}

nav ul {
}

nav ul li {
}
