:root {
	--color-red: #e50914;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;

	background-color: pink;
}

img {
	display: block;
	max-width: 100%;
}

input,
label,
button,
textarea {
	font-size: inherit;
	font-weight: inherit;
}

/* typography */

/* container */

.container {
	width: 90%;
	margin: 0 auto;
}

.container-main {
	width: 75%;
}

.container-flex {
	display: flex;
	flex-direction: column;
}

/* header and nav */

header {
	background-color: #000;
}

.logo {
	margin: 0 auto;
}

nav {
	padding: 1em;
}

nav ul {
	align-items: center;

	list-style: none;

	color: #fff;
	margin: 0 auto;
	padding: 0;
}

nav ul li {
	margin: 0.6em auto;
}

nav ul a {
	color: #fff;
	text-decoration: none;
	font-size: 1.7em;
}

nav ul a:hover,
nav ul a:focus {
	color: var(--color-red);
}

/** MAIN **/

/* intro */

.intro {
	background-color: bisque;
	padding: 1em 0;
}

.intro form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro form label {
	display: block;
	margin-bottom: 1em;
}

.intro form input {
	margin-bottom: 0.3em;
	padding: 0.7em;
	width: 80%;
}

.intro button {
	background: none;
	border: none;

	background-color: black;
	color: #fff;
	margin-top: 0.3em;
	padding: 1.2em 2em;
	cursor: pointer;
}

.intro button:hover {
	background-color: var(--color-red);
}

/* Features */
